<article id="<%= comment.id %>">
  <p>
    <span class="user"><%= link_to comment.author.username, user_posts_path(comment.author) %></span>
    <span class="time-since-creation"><%= comment.time_since_creation %> hours ago</span>
  </p>
  <p class= "comments">
    <%= comment.body %>
    <span><%= link_to "[edit]", edit_comment_path(comment) %></span>
    <span><%= link_to "[comment]", new_comment_comment_path(comment) %></span>
    <span><%= button_to "[delete]", comment_path(comment), :method => :delete, data: {confirm: "Are you sure?"} %></span>
    <p>
      <a href="#">link here</a>
    </p>
    <p class="comments">
    <% if comment.comments.any? %>
      <% comment.comments.each do |current_comment| %>
      <%= render partial: "comments/comment", locals: {comment: current_comment} %>
      <% end %>
    <% end %>
    </p>
  </p>


</article>
