<article id="<%= post.id %>">
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p>
    <span class="user"><a href="<%= user_posts_path(post.author) %>"><%= post.author.username %></a></span>
    <span class="time-since-creation"><%= post.time_since_creation %> hours ago</span>
  </p>
  <p>
    <%= post.body %>
    <span><%= link_to "[edit]", edit_post_path(post) %></span>
    <span><%= link_to "[comment]", new_post_comment_path(post) %></span>
    <span><%= button_to "[delete]", post_path(post), :method => :delete, data: {confirm: "Are you sure?"} %></span>
  </p>
  <p>
    <a href="#">link here</a>
  </p>
  <p>
    <% if post.comments %>
      <% post.comments.each do |current_comment| %>
      <%= render partial: "/comments/comment", locals: {comment: current_comment, post: post} %>
      <% end %>
    <% end %>
  </p>
</article>
