<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%#stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% javascript_include_tag 'application' %>
  <%#csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Hacker News</h1>
  <p>
    <a href="<%= new_post_path %>">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="<%= login_path %>">login</a>
  </p>
</header>

<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<section class="main">
  <%= yield %>
</section>

<pre>
  <% if session %>
  <%= "session[:user_id]: #{session[:user_id]}" %>
  <% end %>
</pre>

</body>
</html>
